<html>
<body>
<h1>Webserver with Ansible!</h1>
<h2>Hello World! from {{ login.stdout }}@{{ ansible_default_ipv4.address }}</h2>
<p>This is from the group var: {{ my_group_var }}</p>
<p>This is from the host var: {{ detail }}</p>
</body>
</html>
